/*
Clara Robin & Amy Churchill
Last edit: Jan 5th 2019, amy
Global style sheet for FBLA contest
*/
html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	background-color: #f4f4f4;
	color: #485F77;
}

h1 {
	font-weight: normal;
}
div.container{
	width:80%;
	margin:auto;
	overflow:hidden; 
}

header{
	background: #f4f4f4;
	color: #485F77;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #485F77 3px solid;
}

header div#navName h1 {
	font-weight: normal;
	float: left;
}

header a{
	color: #485F77;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	display: inline;
	padding: 10px;
}

header nav{
	float:right;
}

header .current a{
	font-weight:bold;
}

header a:hover{
	font-weight:bold;
}

section#mainPic img{
	margin-top:75px;
	width: 15%;
	min-width: 75px;
	margin-bottom:10px;
}

section#mainPic h1{
	font-weight: normal;
	margin-top:20px;
	font-size:55px;
	margin-bottom:10px;
}

section#mainPic p{
	font-size:20px;
}

footer {
	background-color: #485F77;
	color: #f4f4f4;
}

footer div#contact {
	width: 30%;
	float: left;
}

footer div#other {
	width: 30%;
	min-width: 175px;
	float: right;
}

footer h1 {
	font-weight: normal;
	font-size: 16pt;
}

footer p {
	font-size: 10pt;
}

footer a {
	text-decoration: none;
	color: #f4f4f4;
}

footer img {
	background-color: #f4f4f4;
	padding: 2px;
	border-radius: 5px;
	margin: 5px;
}

@media all and (max-width:600px){
	
	header div#navName h1{
		float: none;
		width: 100%;
		text-align: center;
	}
	
	header nav{
		float: none;
		width: 100%;
		height: 50px;
	}
	
	header ul {
		width: 250px;
		text-align: center;
		margin: auto;
	}
	
	footer div#contact {
		width: 100%;
		float: none;
	}
	
	footer div#other{
		width: 100%;
		float: none;
	}
}