/*
Clara Robin
Style sheet for index/home page
*/
section#mainPic {
	min-height:450px;
	background:url('../imgs/img1.png') no-repeat center center fixed;
	background-size: cover;
	text-align:center;
	color: #485F77;
	border-bottom: #485F77 3px solid;
}

section.content {
	margin-top: 70px;
}

section.content span {
	font-family: Monserrat, sans-serif;
}

section.content h1{
	font-size: 28pt;
	margin-bottom: 30px;
}

section.content p{
	margin-top: 0px;
	font: 16px/2 Esteban, sans-serif;
}

section.content div#about {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

section.content div#about img {
	margin: 40px;
	width: 450px;
	opacity: 0.4;
}

section.content div#about div#text {
	text-align: center;
	width: 70%;
}

section.content div#services {
	margin: 40px 0px 40px 0px;
	width: 50%;
	float: left;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

section.content div#services h1 {
	margin-bottom: 30px;
	text-align: center;
}

section.content button {
	font-family: Monserrat sans-serif;
	font-size: 14pt;
	background-color: #f4f4f4;
	color: #485F77;
	border: 2px solid #485F77;
	padding: 10px;
	width: 300px;	
	border-radius: 10px;
}

section.content div#services div.list {
	margin: 0px 0px 20px 0px;
	display: flex;
	align-items: center;
}

section.content div#services div.list img {
	margin-right: 20px;
}

section.content div#services p {
	font: 16px/1.5 Esteban, sans-serif;
}


section.content div#staff {
	width: 45%;
	float: right;
	margin: 40px 0px 40px 0px;
	text-align: center;
}

section.content div#staff img{
	width: 80%;
	min-width: 200px;
	opacity: 0.4;
	margin-bottom: 15px;
}

@media all and (max-width:800px) {
	
	section.content div#about div#text {
		width: 100%;
	}
	
	section.content div#services {
		width: 100%;
		float: none;
	}

	section.content div#staff {
		margin: 70px 0px 60px 0px;
		width: 100%;
		float: none;
	}
	
}

