/*
Clara Robin
Style sheet for pricing page
*/
section#mainPic {
	min-height:450px;
	background:url('../imgs/img3.png') no-repeat center center fixed;
	background-size: cover;
	text-align:center;
	color: #485F77;
	border-bottom: #485F77 3px solid;
}

div#allPrices {
	text-align: center;
	width: 60%;
	float: left;
}

section#main h1{
	font-size: 28pt;
	font-weight: normal;
	margin-top: 90px;
	text-align: center;
}

div#allPrices h2{
	text-align: left;
	font-weight: normal;
}

div#allPrices p{
	font: 16px/1.75 Esteban, sans-serif;
	text-align: left;
}

div.service {
	margin-bottom: 50px;
}

div#form {
	float: right;
	text-align: center;
	width: 30%;
	min-width: 300px;
}

div#form h2 {
	font-weight: normal;
}

div#form p {
	font: 16px/1.5 Esteban, sans-serif;
	margin: 10px;
	
}

div#form input#confirm {
	font-family: Monserrat sans-serif;
	font-size: 12pt;
	background-color: #485F77;
	color: #f4f4f4;
	border: 2px solid #485F77;
	padding: 10px;	
	border-radius: 10px;
	margin: 15px 0px 30px 0px;
}

@media all and (max-width:1000px) {
	
	div#allPrices {
		float: none;
		width: 80%;
		margin: auto;
	}
	div#form {
		float: none;
		width: 50%;
		margin: auto;
		margin-bottom: 50px;
	}
	
}
